@page "{id:int?}"

@model AlFikr.FrontendUI.Web.Areas.Admin.Pages.Author.UpsertModel

<partial name="ErrorMessageAlert" model="Model.ErrorText" />
<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <form id="authorForm" method="post" enctype="multipart/form-data">

                <div class="text-danger text-right" asp-validation-summary="ModelOnly"></div>
                <div class="card-header">
                    <h4>
                        @(Model.Author?.Id != null ? @localizer["Editer"] : @localizer["Ajouter"]) @localizer["auteur"]</h4>
                </div>
                <input type="hidden" asp-for="Author.Id" />
                <input type="hidden" asp-for="Author.IdEditor" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Editor"]</label>&nbsp;<span style="color:red;">*</span>
                                <input type="number" asp-for="Author.IdEditor" class="form-control">
                                @*   <select class="form-control" asp-for="Author.IdEditor">
                                <option value="1">1</option>
                                </select> *@
                                <span asp-validation-for="Author.IdEditor" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Prénom"]</label>&nbsp;<span style="color:red;">*</span>
                                <input asp-for="Author.FirstName" class="form-control">
                                <span asp-validation-for="Author.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Nom"]</label>&nbsp;<span style="color:red;">*</span>
                                <input asp-for="Author.LastName" class="form-control">
                                <span asp-validation-for="Author.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Intitulé Arabe"]</label>&nbsp;<span style="color:red;">*</span>
                                <input asp-for="Author.ArName" class="form-control">
                                <span asp-validation-for="Author.ArName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Photo"]</label>
                                <input type="file" asp-for="AuthorPhoto" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["OrcId"]</label>
                                <input asp-for="Author.OrcId" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Date de Naissance"]</label>
                                <input type="date" asp-for="Author.DateOfBirth" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Email"]</label>
                                <input asp-for="Author.Email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Téléphone"]</label>
                                <input asp-for="Author.Phone" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Civilité"]</label>
                                <input asp-for="Author.Civility" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Pays"]</label>
                                <select class="form-control" asp-for="Author.Country">
                                    <option value="AF">Afghanistan </option>
                                    <option value="CF">Afrique_Centrale </option>
                                    <option value="ZA">Afrique_du_Sud </option>
                                    <option value="AL">Albanie </option>
                                    <option value="DZ">Algerie </option>
                                    <option value="DEU">Allemagne </option>
                                    <option value="AD">Andorre </option>
                                    <option value="AO">Angola </option>
                                    <option value="AI">Anguilla </option>
                                    <option value="SA">Arabie_Saoudite </option>
                                    <option value="AR">Argentine </option>
                                    <option value="AM">Armenie </option>
                                    <option value="AU">Australie </option>
                                    <option value="AT">Autriche </option>
                                    <option value="AZ">Azerbaidjan </option>

                                    <option value="BS">Bahamas </option>
                                    <option value="BD">Bangladesh </option>
                                    <option value="BB">Barbade </option>
                                    <option value="BH">Bahrein </option>
                                    <option value="BE">Belgique </option>
                                    <option value="BZ">Belize </option>
                                    <option value="BJ">Benin </option>
                                    <option value="BM">Bermudes </option>
                                    <option value="BY">Bielorussie </option>
                                    <option value="BO">Bolivie </option>
                                    <option value="BW">Botswana </option>
                                    <option value="BT">Bhoutan </option>
                                    <option value="BA">Boznie_Herzegovine </option>
                                    <option value="BR">Bresil </option>
                                    <option value="BN">Brunei </option>
                                    <option value="BG">Bulgarie </option>
                                    <option value="BF">Burkina_Faso </option>
                                    <option value="BI">Burundi </option>

                                    <option value="KH">Cambodge </option>
                                    <option value="CM">Cameroun </option>
                                    <option value="CA">Canada </option>
                                    <option value="CV">Cap_Vert </option>
                                    <option value="CL">Chili </option>
                                    <option value="CN">Chine </option>
                                    <option value="CY">Chypre </option>
                                    <option value="CO">Colombie </option>
                                    <option value="KM">Comoros </option>
                                    <option value="CG">Congo </option>
                                    <option value="CD">Congo_democratique </option>
                                    <option value="CK">Cook </option>
                                    <option value="PRK">Coree_du_Nord </option>
                                    <option value="KOR">Coree_du_Sud </option>
                                    <option value="CR">Costa_Rica </option>
                                    <option value="CI">Côte_d_Ivoire </option>
                                    <option value="HR">Croatie </option>
                                    <option value="CU">Cuba </option>

                                    <option value="DK">Danemark </option>
                                    <option value="DJ">Djibouti </option>
                                    <option value="DM">Dominique </option>

                                    <option value="EG">Egypte </option>
                                    <option value="ARE">Emirats_Arabes_Unis </option>
                                    <option value="ECU">ECUADOR </option>
                                    <option value="ER">Erythree </option>
                                    <option value="ES">Espagne </option>
                                    <option value="EE">Estonie </option>
                                    <option value="US">Etats_Unis </option>
                                    <option value="ET">Ethiopie </option>

                                    <option value="FK">Falkland </option>
                                    <option value="FO">Feroe </option>
                                    <option value="FJ">Fidji </option>
                                    <option value="FI">Finlande </option>
                                    <option value="FR">France </option>

                                    <option value="GA">Gabon </option>
                                    <option value="GM">Gambie </option>
                                    <option value="GE">Georgie </option>
                                    <option value="GH">Ghana </option>
                                    <option value="GI">Gibraltar </option>
                                    <option value="GR">Grece </option>
                                    <option value="GD">Grenade </option>
                                    <option value="GL">Greenland </option>
                                    <option value="GP">Guadeloupe </option>
                                    <option value="GU">Guam </option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernesey </option>
                                    <option value="GN">Guinea </option>
                                    <option value="GW">Guinea_Bissau </option>
                                    <option value="GQ">Guinea_Equatoriale </option>
                                    <option value="GY">Guyana </option>
                                    <option value="GF">Guyane_Francaise </option>

                                    <option value="HT">Haiti </option>
                                    <option value="US-HI">Hawaii </option>
                                    <option value="HN">Honduras </option>
                                    <option value="HK">Hong_Kong </option>
                                    <option value="HU">Hongrie </option>

                                    <option value="IN">Inde </option>
                                    <option value="ID">Indonesie </option>
                                    <option value="IR">Iran </option>
                                    <option value="IQ">Iraq </option>
                                    <option value="IE">Irlande </option>
                                    <option value="IS">Islande </option>
                                    <option value="IL">Israel </option>
                                    <option value="IT">italie </option>

                                    <option value="JM">Jamaique </option>
                                    <option value="JP">Japon </option>
                                    <option value="JE">Jersey </option>
                                    <option value="JO">Jordanie </option>

                                    <option value="KZ">Kazakhstan </option>
                                    <option value="KE">Kenya </option>
                                    <option value="KG">Kirghizistan </option>
                                    <option value="KI">Kiribati </option>
                                    <option value="KW">Koweit </option>

                                    <option value="LA">Laos </option>
                                    <option value="LS">Lesotho </option>
                                    <option value="LV">Lettonie </option>
                                    <option value="LY">Liban </option>
                                    <option value="LR">Liberia </option>
                                    <option value="LI">Liechtenstein </option>
                                    <option value="LT">Lituanie </option>
                                    <option value="LU">Luxembourg </option>

                                    <option value="MO">Macao </option>
                                    <option value="MK">Macedoine </option>
                                    <option value="MG">Madagascar </option>
                                    <option value="MY">Malaisie </option>
                                    <option value="MW">Malawi </option>
                                    <option value="MV">Maldives </option>
                                    <option value="ML">Mali </option>
                                    <option value="MT">Malte </option>
                                    <option value="MP">Mariannes du Nord </option>
                                    <option value="MA">Maroc </option>
                                    <option value="MH">Marshall </option>
                                    <option value="MQ">Martinique </option>
                                    <option value="MU">Maurice </option>
                                    <option value="MR">Mauritanie </option>
                                    <option value="YT">Mayotte </option>
                                    <option value="MX">Mexique </option>
                                    <option value="FM">Micronesie </option>
                                    <option value="UM">Midway </option>
                                    <option value="MD">Moldavie </option>
                                    <option value="MC">Monaco </option>
                                    <option value="MN">Mongolie </option>
                                    <option value="MS">Montserrat </option>
                                    <option value="MZ">Mozambique </option>

                                    <option value="NA">Namibie </option>
                                    <option value="NR">Nauru </option>
                                    <option value="NP">Nepal </option>
                                    <option value="NI">Nicaragua </option>
                                    <option value="NE">Niger </option>
                                    <option value="NG">Nigeria </option>
                                    <option value="NU">Niue </option>
                                    <option value="NF">Norfolk </option>
                                    <option value="NO">Norvege </option>
                                    <option value="NC">Nouvelle_Caledonie </option>
                                    <option value="NZ">Nouvelle_Zelande </option>

                                    <option value="OM">Oman </option>
                                    <option value="UG">Ouganda </option>
                                    <option value="UZ">Ouzbekistan </option>

                                    <option value="PK">Pakistan </option>
                                    <option value="PW">Palau </option>
                                    <option value="PS">Palestine </option>
                                    <option value="PA">Panama </option>
                                    <option value="PG">Papouasie_Nouvelle_Guinee </option>
                                    <option value="PY">Paraguay </option>
                                    <option value="NL">Pays_Bas </option>
                                    <option value="PE">Perou </option>
                                    <option value="PH">Philippines </option>
                                    <option value="PL">Pologne </option>
                                    <option value="PF">Polynesie </option>
                                    <option value="PR">Porto_Rico </option>
                                    <option value="PT">Portugal </option>

                                    <option value="QA">Qatar </option>

                                    <option value="DO">Republique_Dominicaine </option>
                                    <option value="CZ">Republique_Tcheque </option>
                                    <option value="RE">Reunion </option>
                                    <option value="RO">Roumanie </option>
                                    <option value="GB">Royaume_Uni </option>
                                    <option value="RU">Russie </option>
                                    <option value="RW">Rwanda </option>

                                    <option value="EH">Sahara Occidental </option>
                                    <option value="LC">Sainte_Lucie </option>
                                    <option value="SM">Saint_Marin </option>
                                    <option value="SB">Salomon </option>
                                    <option value="SV">Salvador </option>
                                    <option value="WS">Samoa_Occidentales</option>
                                    <option value="AS">Samoa_Americaine </option>
                                    <option value="ST">Sao_Tome_et_Principe </option>
                                    <option value="SN">Senegal </option>
                                    <option value="SC">Seychelles </option>
                                    <option value="SL">Sierra Leone </option>
                                    <option value="SG">Singapour </option>
                                    <option value="SK">Slovaquie </option>
                                    <option value="SI">Slovenie</option>
                                    <option value="SO">Somalie </option>
                                    <option value="SD">Soudan </option>
                                    <option value="LK">Sri_Lanka </option>
                                    <option value="SE">Suede </option>
                                    <option value="CH">Suisse </option>
                                    <option value="SR">Surinam </option>
                                    <option value="SZ">Swaziland </option>
                                    <option value="SY">Syrie </option>

                                    <option value="TJ">Tadjikistan </option>
                                    <option value="TW">Taiwan </option>
                                    <option value="TO">Tonga </option>
                                    <option value="TZ">Tanzanie </option>
                                    <option value="TD">Tchad </option>
                                    <option value="TH">Thailande </option>
                                    <option value="TL">Timor_Oriental </option>
                                    <option value="TG">Togo </option>
                                    <option value="TT">Trinite_et_Tobago </option>
                                    <option value="SH">Tristan de cuncha </option>
                                    <option value="TN">Tunisie </option>
                                    <option value="TM">Turmenistan </option>
                                    <option value="TR">Turquie </option>

                                    <option value="UA">Ukraine </option>
                                    <option value="UY">Uruguay </option>

                                    <option value="VU">Vanuatu </option>
                                    <option value="VE">Venezuela </option>
                                    <option value="VI">Vierges_Americaines </option>
                                    <option value="VG">Vierges_Britanniques </option>
                                    <option value="VN">Vietnam </option>

                                    <option value="UM">Wake </option>
                                    <option value="WF">Wallis et Futuma </option>

                                    <option value="YE">Yemen </option>
                                    <option value="MK">Yougoslavie </option>

                                    <option value="ZM">Zambie </option>
                                    <option value="ZW">Zimbabwe </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Ville"]</label>
                                <input asp-for="Author.City" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Adresse"]</label>
                                <input asp-for="Author.Adress" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Code Postal"]</label>
                                <input asp-for="Author.PostalCode" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Position"]</label>
                                <input asp-for="Author.Position" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>@localizer["Biographie"]</label>
                                <textarea asp-for="Author.Biography" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href=javascript:history.go(-1) class="btn btn-secondary">@localizer["Annuler"]</a>
                    <button class="btn btn-primary text-white" type="submit">@localizer["Enregistrer"]</button>
                </div>
            </form>
        </div>
    </div>
</div>